[submodule "vendor/locales"]
	path = vendor/locales
	url = https://github.com/citation-style-language/locales.git
	branch = master
[submodule "vendor/styles"]
	path = vendor/styles
	url = https://github.com/citation-style-language/styles.git
    branch = master